body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(9,3,29,1) 53%, rgba(0,0,0,1) 100%);
    color: #999;
    font-family: sans-serif, Segoe UI,Arial,Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
h2, h3 {
    color: #fff;
}
hr {
    border: 1px solid #333;
}
.container {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}
#menu {
    display: inline-block;
}
#box {
    float: left;
/*    border-style: solid;
    border-color: #000;
    border-width: 1px;*/
    width: 49%;
}
#profil{
    text-align:center;
}
#profilTitle {
    margin-top: 50px;
}
#profil img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-style: solid;
    border-color: #999;
    border-width: 4px;
}
#contact {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
#linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#linkBox a {
    width: 100%;
    text-align: center;
    max-width: 80px;
}
#linkBox img {
    text-align: center;
    border-radius: 50%;
    width: 100%;
    max-width: 100px;
    object-fit: cover;
}
#prototip {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#prototipBox {
    width: 10%;
    max-width:100px;
    float:left;
    margin: 10px;
}
#prototipBox img {
    width: 100%;
    max-width: 100px;
    border-radius: 20%;
    max-width: 100px;
    object-fit: cover;
    border-style: solid;
    border-color: #777;
    border-width: 3px;
}
#space10 {
    height: 40px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0px auto;
        margin-top: 50px;
    }
    #box {
        float: left;
        width: 100%;
    }
    #profilTitle {
        text-align: center;
    }
    #linkBox {
        width: 40%;
    }

    #prototipBox {
        width: 40%;        
    }
}
    